{% extends "admin/base.html" %}

{% block head %}

    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename='vendor/datatables-plugins/css/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">

    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables-plugins/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Custom JavaScript -->
    <script type="text/javascript">
    $(document).ready(function() {
        table = $('#temp-moisture-datatable').DataTable({
            "processing": true,
            "ajax": "/api/v1/data",
            "columns": [
                { "data": "timestamp" },
                { "data": "temperatureC" },
                { "data": "temperatureF" },
                { "data": "humidity" },
                { "data": "heatIndexC" },
                { "data": "heatIndexF" },
                { "defaultContent": '<button type=\"button\" class=\"btn btn-danger btn-xs\">Delete</button>' }
            ],
            "responsive": true,
            "order": [[0, "desc" ]]
        });

        $('#temp-moisture-datatable').on('click', 'button', function() {
            var data = table.row($(this).parents('tr')).data();
            alert("We will be deleting the following data soon: " + data.timestamp);
        });
    });
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Databases</h2>
        </div>
    </div>

    <!-- .row -->
    <div class="row">
        <!-- .col-lg-12 -->
        <div class="col-lg-12">
            <!-- .panel-default -->
            <div class="panel panel-default">

                <!-- .panel-heading -->
                <div class="panel-heading">
                    Script Inventory
                </div>
                <!-- .panel-heading -->

                <!-- .panel-body -->
                <div class="panel-body">

                    <!-- .table -->
                    <table width="100%" class="table table-striped table-bordered table-hover" id="temp-moisture-datatable">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Temperature C</th>
                                <th>Temperature F</th>
                                <th>Humidity</th>
                                <th>Heat Index C</th>
                                <th>Heat Index F</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}