{% extends "admin/base.html" %}

{% block head %}

    <!-- Custom JavaScript -->
    <script type="text/javascript">

    $.getJSON('/ajax/nagios', get_status);

    function get_status(data, t, j) {
        if (!data.success) return;
        for (var host in data.content) {

            var html = '';
            html +=
                "<div class=\"panel panel-default\">" +
                    "<div class=\"panel-heading\">" + host + "</div>" +
                        "<div class=\"panel-body\">";

            for (var service in data.content[host].services) {
                html +=
                            "<div class=\"row\">" +
                                "<div class=\"col-md-3\"><h5>" + service + "</h5></div>" +
                                "<div class=\"col-md-9\">" + data.content[host].services[service].plugin_output + "</div>" +
                            "</div>";
            }

            html +=
                        "</div>" +
                    "</div>" +
                "</div>";

            $('#server-list').append(html);
        }
    }

    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Servers</h2>
        </div>
    </div>

    <!-- .row -->
    <div class="row">
        <!-- .col-lg-12 -->
        <div class="col-lg-12">
            <!-- .panel-default -->
            <div class="panel panel-default">

                <!-- .panel-heading -->
                <div class="panel-heading">
                    Server Status
                </div>
                <!-- .panel-heading -->

                <!-- .panel-body -->
                <div id="server-list" class="panel-body">

                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}