<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Modern Dashboard for Modern Services">
    <meta name="author" content="Nathan Glover">

    <title>Dashy - A Modern Dashboard for Modern Services</title>

    <!-- Favicon load -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='custom/landing/css/stylish-portfolio.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div style="display:table-row;">
        	<div class="text-vertical-center">
                <h1>Dashy</h1>
                <h4>Modern Dashboard for Modern Services</h4>
                <img src="{{ url_for('static', filename='custom/landing/img/dashboard-icon.png') }}" style="width:15%;"/>
                <br/>
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <form role="form" action="/admin/login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg input-dark" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg input-dark" name="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-dark btn-lg">Login</button>
                        </form>
                    </div>
                    <div class="col-sm-5"></div>
                </div>
        	</div>
        </div>
    </header>

</body>

</html>
